@model TeamManager.Models.TeamModel
@{
    ViewBag.Title = "Team Details";
}

@{Html.RenderPartial("_Team", Model);}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Players</h3>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Name               
            </th>
            <th>
                Win
            </th>
            <th>
                Loss
            </th>
            <th>
                Tie
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Win)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loss)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tie)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Players", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Remove", "Remove", "PlayerToTeam", new { playerId = item.Id, teamId = Model.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
</div>

@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
@Html.ActionLink("Add player", "SelectPlayer", "PlayerToTeam", new { teamId = Model.Id }, new { @class = "btn btn-primary" })
@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
@Html.ActionLink("Back", "Index", new {}, new { @class = "btn btn-default" })