@model TeamManager.Models.SelectPlayerModel
@{
    ViewBag.Title = "Select Team";
}

@{Html.RenderPartial("_Team", Model.Team);}

<div class="alert alert-warning" role="alert">
    <strong>Warning:</strong> If you pick a player who has already a team, he will be removed from his previous team!
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Players</h3>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Name
            </th>
            <th>
                Team
            </th>
            <th>
                Win
            </th>
            <th>
                Loss
            </th>
            <th>
                Tie
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Team != null)
                    {
                        @Html.DisplayFor(model => item.Team.Name)
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Win)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loss)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tie)
                </td>
                <td>
                    @Html.ActionLink("Add", "AddToTeam", new { playerId = item.Id, teamId = Model.Team.Id, redirectToPlayer = false }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
</div>
                    

